@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /><br />
    <form method="post">

        <div class="row">

            <div class="col-md-6 mb-2">
                <input type="text" name="adult" class="form-control" placeholder="Yetişkin Sayısı" />
            </div>
            <div class="col-md-6 mb-2">
                <input type="text" name="child" class="form-control" placeholder="Çocuk Sayısı" />
            </div>

            <div class="col-md-6 mb-2">
                <input type="text" name="checkindate" class="form-control" placeholder="Giriş Tarihi" />
            </div>
            <div class="col-md-6 mb-2">
                <input type="text" name="checkoutdate" class="form-control" placeholder="Çıkış Tarihi" />
            </div>

            <div class="col-md-6 mb-2">
                <input type="text" name="roomnumber" class="form-control" placeholder="Oda Sayısı" />
            </div>
            <div class="col-md-6 mb-2">
                <input type="text" name="cityID" class="form-control" placeholder="Şehir ID" />
            </div>
            <br />
            <button class="btn btn-primary">Hotel Ara</button>
        </div>
    </form>
</div>
